#entornos virtuales
venv/
env/

#archivos compilados de Python
/__pycache__/
*.pyc

#claves o credenciales (Seguridad de AWS)
*.pem
*.key
.env

#de momento NO ignorar pipeline.log y data/02_bank.csv por temas de rubrica y ejecucion de demo